<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gee商城</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
  <link rel="stylesheet" type="text/css" href="../../static/lib/layui/css/layui.css">
  <script type="text/javascript" src="../../static/lib/layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body id="list-cont">

  <th:block th:include="common.html :: nav"></th:block>


<div class="header">

  <div class="headerLayout w1200">
    <div class="headerCon">
      <div style="float: left;">
        <h1 style="font-size: 30px">
          <a href="/">Gee商城</a>
        </h1>
      </div>

      <div class="mallSearch">
        <form action="/toResult" class="layui-form" method="post" novalidate>
          <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
          <button class="layui-btn" lay-submit lay-filter="formDemo">
            <i class="layui-icon layui-icon-search"></i>
          </button>
          <input type="hidden" name="" value="">
        </form>
      </div>
    </div>
  </div>
</div>


  <div class="content">

    <th:block th:include="common.html :: main-nav"></th:block>

    <div class="category-con">
      <div class="category-inner-con w1200">
        <div class="category-type">
          <h3>全部分类</h3>
        </div>
        <div class="category-tab-content">
          <div class="nav-con">

            <ul class="normal-nav layui-clear" >
              <li class="nav-item" th:each="cat:${catList}">
                <div class="title" ><a th:href="@{/toCatResult/}+${cat.getId()}" th:text="${cat.getName()}"></a></div>
                <p>
                  <a th:href="@{/toCatResult/}+${cat.getId()}" th:text="${cat.getName()}"></a>
                  <a th:href="@{/toCatResult/}+${cat.getId()}" th:text="${cat.getName()}"></a>
                  <a th:href="@{/toCatResult/}+${cat.getId()}" th:text="${cat.getName()}"></a>
                <i class="layui-icon layui-icon-right"></i>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="category-banner">
        <div class="w1200" style="height: 400px">
<!--          <img src="../../static/img/redmi.jpg" style="width: 100%; height: auto;">-->
          <div class="layui-carousel" id="test2" style="margin-left: 200px;width: auto;height: 400px;">
            <div carousel-item style="width: 100%;height: 400px">
              <a th:href="@{/toMore/4}"><img src="../../static/img/mi10.webp" style="width: 100%; height: auto;"></a>
              <a th:href="@{/toMore/3}"><img src="../../static/img/note9.webp" style="width: 100%; height: auto;"></a>
              <a th:href="@{/toMore/1350432252611985409}"><img src="../../static/img/redmi.jpg" style="width: 100%; height: auto;"></a>
              <a th:href="@{/toMore/1350434858730254338}"><img src="../../static/img/redmiTV.webp" style="width: 100%; height: auto;"></a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="floors">
      <div class="sk">
        <div class="sk_inner w1200">
          <div class="sk_hd">
            <a href="javascript:;"><img src="../../static/img/s_img1.jpg"></a>
          </div>
          <div class="sk_bd">
            <div class="layui-carousel" id="test1">
              <div carousel-item>

                <div class="item-box" >
                  <div class="item" th:each="item:${list}" th:if="${item.getPrice()>5000&&item.getStatus()==1}" >
                    <a th:href="@{/toMore/}+${item.getId()}"><img th:src="'img/'+${item.getImage()}"></a>
                    <div class="title" th:text="${item.getTitle()}"></div>
                    <div class="price">
                      ￥<span th:text="${item.getPrice()}"></span>
                    </div>
                  </div>
                </div>

                <div class="item-box">
                  <div class="item" th:each="item:${list}" th:if="${item.getPrice()<=3900&&item.getStatus()==1}">
                    <a th:href="@{/toMore/}+${item.getId()}"><img th:src="'img/'+${item.getImage()}"></a>
                    <div class="title" th:text="${item.getTitle()}"></div>
                    <div class="price">
                      ￥<span th:text="${item.getPrice()}"></span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>


    <div class="product-list-box" id="product-list-box">
      <div class="product-list-cont w1200">
        <h4>更多推荐</h4>
        <div class="product-item-box layui-clear">

          <div class="list-item" th:each="item2:${list}">
            <a th:href="@{/toMore/}+${item2.getId()}"><img th:src="'img/'+${item2.getImage()}" style="width: 200px; height: 200px;"></a>
            <p th:text="${item2.getTitle()}"></p>
            ￥<span th:text="${item2.getPrice()}"></span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="ng-promise-box">
      <div class="ng-promise w1200">
        <p class="text">
          <a class="icon1" href="javascript:;">7天无理由退换货</a>
          <a class="icon2" href="javascript:;">满99元全场免邮</a>
          <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
        </p>
      </div>
    </div>
    <div class="mod_help w1200">
      <p>
        <a href="/toAbout">关于我们</a>
        <span>|</span>
        <a href="javascript:;">帮助中心</a>
        <span>|</span>
        <a href="javascript:;">售后服务</a>
        <span>|</span>
        <a href="javascript:;">产品资讯</a>
        <span>|</span>
        <a href="javascript:;">关于货源</a>
      </p>
      <p class="coty">Gee商城版权所有 &copy; 2012-2020</p>
    </div>

  </div>
  <script type="text/javascript">
	
layui.config({
    base: '../../static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','carousel'],function(){
    var carousel = layui.carousel, mm = layui.mm;
    var option = {
      elem: '#test1'
      ,width: 'auto' //设置容器宽度
      ,arrow: 'always'
      ,height:'300'
      ,indicator:'none'
    }
  carousel.render(option);
    var option = {
      elem: '#test2'
      ,width: 'auto' //设置容器宽度
      ,arrow: 'always'
      ,height:'480'
      ,indicator:'none'
    }
  carousel.render(option);
});
  </script>
</body>
</html>