<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/lib/layui/css/layui.css">
    <script type="text/javascript" src="../../static/lib/layui/layui.js"></script>
    <script src="../../static/js/xadmin.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

<th:block th:include="common.html :: nav"></th:block>



<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <div style="float: left;">
                <h1 style="font-size: 30px">
                    <a href="/">Gee商城</a>
                </h1>
            </div>
            <div class="mallSearch">
                <form action="/toResult" class="layui-form" method="post" novalidate>
                    <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <input type="hidden" name="" value="">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="content content-nav-base shopcart-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="/toAllItem" class="active">所有商品</a>
                    <a href="/toInformation">电子产品资讯</a>
                    <a href="/toAbout">关于我们</a>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-container">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>个人信息</legend>
        </fieldset>
        <div style="padding: 20px; background-color: #F2F2F2;">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>账号信息</legend>
            </fieldset>
            <form class="layui-form">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="uname" th:value="${user.getUname()}" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="password" th:value="${user.getPassword()}" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="userName" th:value="${user.getUserName()}" autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="email" th:value="${user.getEmail()}" autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-inline">
                            <input type="text" name="mobile" th:value="${user.getMobile()}" autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-inline">
                            <input type="text" name="adress" th:value="${user.getAdress()}" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="edit" lay-submit="">修改</button>
                </div>
            </form>
            <hr>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>我的历史订单信息</legend>
            </fieldset>
            <table class="layui-table" lay-skin="line">
                <tr>
                    <td>订单号</td>
                    <td>购买人</td>
                    <td>地址</td>
                    <td>小计</td>
                    <td>下单时间</td>
                    <td>操作</td>
                </tr>
                <tr th:if="${orderList.size()==0}" style="height: 150px;">
                    <td colspan="5">
                        <h1>您的订单列表空空如也，快去<a href="/toAllItem" style="color: red">购物吧！</a></h1>
                    </td>
                </tr>
                <tr th:each="order:${orderList}" style="height: 100px;" >
                    <td style="width: 200px;">
                        <a th:href="@{/toOrderDetail/}+${order.getId()}">
                            <span th:text="${order.getId()}"></span>
                        </a>
                    </td>
                    <td style="width: 200px;">
                        <a th:href="@{/toOrderDetail/}+${order.getId()}">
                            <span th:text="${order.getBuyerNick()}"></span>
                        </a>
                    </td>
                    <td style="width: 200px;" >
                        <a th:href="@{/toOrderDetail/}+${order.getId()}">
                            <span th:text="${order.getAddress()}"></span>
                        </a>
                    </td>
                    <td style="width: 200px;" >
                        <a th:href="@{/toOrderDetail/}+${order.getId()}">
                            ￥<span th:text="${order.getPayment()}" class="totalCost"></span>
                        </a>
                    </td>
                    <td style="width: 200px;" >
                        <a th:href="@{/toOrderDetail/}+${order.getId()}">
                            <span th:text="${#dates.format(order.getCreateTime(),'yyyy-MM-dd HH:mm:ss')}" class="totalCost"></span>
                        </a>
                    </td>
                    <td style="width:150px;">
                        <a class="layui-btn layui-btn-danger" id="del" th:href="@{/delOrder1/}+${order.getId()}"><i class="layui-icon layui-icon-delete"></i>删除</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="hidden" name="cost" id="totalCost">
                        <b>总消费:</b> <span id="totalPrice" style="color: #FF5722;font-size: x-large;font-weight: bold"></span>
                    </td>
                    <td colspan="5">
                        <center>
                            <a class="layui-btn layui-btn-primary" th:href="@{/toAllItem}"><i class="layui-icon layui-icon-add-1"></i>继续购物</a>
                        </center>

                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<div class="footer">
    <div class="ng-promise-box">
        <div class="ng-promise w1200">
            <p class="text">
                <a class="icon1" href="javascript:;">7天无理由退换货</a>
                <a class="icon2" href="javascript:;">满99元全场免邮</a>
                <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
            </p>
        </div>
    </div>
    <div class="mod_help w1200">
        <p>
            <a href="javascript:;">关于我们</a>
            <span>|</span>
            <a href="javascript:;">帮助中心</a>
            <span>|</span>
            <a href="javascript:;">售后服务</a>
            <span>|</span>
            <a href="javascript:;">电子产品资讯</a>
            <span>|</span>
            <a href="javascript:;">关于货源</a>
        </p>
        <p class="coty">Gee商城版权所有 &copy; 2012-2020</p>
    </div>

</div>

<script src="../../static/lib/layui/lay/modules/jquery.js"></script>
<script type="text/javascript">
    var $=layui.jquery;
    $(function (){
        //计算总价
        var array=$(".totalCost");

        var totalCost=0;
        for (var i = 0; i <array.length ; i++) {
            var val = parseInt($(".totalCost").eq(i).html().substring(0));
            totalCost += val;
        }
        $("#totalPrice").html("￥" + totalCost);
        $("#totalCost").val(totalCost);
    });
    layui.use(['form', 'layer'],
        function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //监听提交
            form.on('submit(edit)',
                function(data) {
                    $.ajax({
                        url:'/updateUser',
                        type:"post",
                        dataType:"json",
                        async:true,
                        data:JSON.stringify(data.field),
                        contentType:"application/json",
                        success:function (res) {
                            if (res.code == 200) {
                                layer.msg(res.msg, {icon: 6, time: 500}, function () {
                                    parent.window.location.reload();
                                    var iframIndex = parent.layer.getFrameIndex(window.name);
                                    parent.layer.close(iframIndex);
                                });
                            } else {
                                layer.msg(res.msg,{icon: 5});
                            }
                        }
                    });

                    return false;
                });

        });

</script>
</body>
</html>